
<body>
  <div class="navbar2">
    <ul>
      <div class= "logo">
        <img src="logo.png" alt="iXperience">
      </div>
      <div class='button'>
        <a href='http://ixperience.co.za' class='button'>Home</a>
        <a href='https://community.ixperience.co.za/referrers' class='button'>Community</a>
      </div>
    </ul>
  </div>

  <div class= "admin">
    <h1 class= "adminh1">Subscriber <span style= 'color: #4abd9b'>Admin</span></h1>
  </div>


  <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Timestamp</th>
      </tr>
    </thead>
    <tbody>
      <% leads.each do |lead| %>
      <tr>
        <td><%= lead[0] %></td>
        <td><%= lead[1] %></td>
        <td><%= lead[2] %></td>
        <td><%= lead[3] %></td>
      <% end %>
      </tr>
    </tbody>
  </table>



  <a href="/leads.csv"><button class="leads-button">Download</button></a>


</body>
