<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Homepage</title>
  <meta name= "home" content="Subscribe to our newsletter">

  <link rel="stylesheet" href="stylesheet.css">

</head>
<body>

  <div class="navbar">
    <ul>
      <div class= "logo">
        <img src="logo.png" alt="iXperience">
      </div>
      <div class='button'>
        <a href='http://ixperience.co.za' class='button'>Home</a>
        <a href='http://blog.ixperience.co.za' class='button'>Blog</a>
      </div>
    </ul>
  </div>

  <div class= "home">
    <h1 class= "mainheading">The Official <span style= 'color: #e31f80'><b>iX</b></span> Newsletter.</h1>
  </div>

  <div class="home-content">
    <h2>Stay up to date with anything and everything iXperience and never miss out. Subscribe today!</h2>
    <div class="paragraph1">
      <p>Our monthly newsletter is packed with content to help our amazing community discover their <b>potential</b>, and to challenge their <b>thinking</b>, while not with us in class. We share <b>inspiring</b> alumni success stories, where we are, what we are doing, and some industry relevant content.</p>
      <br><p>It is bound to make you chuckle at times!</p>
    </div>
  </div>

  <div class="parent clear">
    <div class="child">
      <img class src="example1.png" alt="iXperience">
    </div>
    <div class="child">
      <img class src="example2.png" alt="iXperience">
    </div>
  </div>

  <div class="form">
    <form action="/thank_you" method="post">
      <fieldset>
        <legend>Your Information</legend>
        First Name:<br>
        <input type="text" name="firstname" required><br>
        Last Name:<br>
        <input type="text" name="lastname" required><br>
        Email:<br>
        <input type="email" name="email" placeholder="email@example.com" required><br>


        <input type="submit" value="Submit">



      </fieldset>
    </form>
  </div>

  <div class="people">
    <div class="cameron">
      <ul>
        <li>
          <img class="img-circle" src="cameron-cross.jpg" alt="iXperience">
          <div class="speech-bubble1">
            <p>"The magic of iXperience is so powerful that it could create successful developers, consultants, bankers, or even astronauts if that’s who its students wanted to be."</p>
            <br> <p> <b> Cameron Cross, iX 2014.</b></p>
          </div>
        </li>
      </ul>
    </div>

    <div class="zack">
      <ul>
        <li><img class="img-circle" src="zack-chauvin.jpg" alt="iXperience">
          <div class="speech-bubble2">
            <p>"The first principle that I see as integral to the iX community is that of being intrinsically motivated to work hard in order to learn as much as possible. Nothing compares to the lasting impact of being part of such an empowering community."</p>
            <br> <p> <b> Zack Chauvin, iX TA 2017.</b></p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer">
    <ul>
      <li><img class src="ix-white-small.png" alt="iX"></li>
      <li><p>Learning. Reimagined.
        <br>hello@ixperience.co.za
        <br>Copyright &copy; 2017 iXperience</p>
      </li>
    </ul>
  </div>
</body>
</html>
