<body>
  <div class= "thank-you">
    <h2 class= "tyheading">Welcome<br> to the Family!</h2>
  </div>

  <h2 class= "ty2">Thank you for subscribing to our newsletter <%= firstname %>!</h2>
  <div class= "tycontent">
    <p>We have sent a confirmation email to <b><u><%= email %></b></u>. If you have not received it within 24 hours, please reach out to us at <b><u>hello@ixperience.co.za</u></b>.</p>
    <p>We hope you will enjoy our stories, and can't wait to read the next one.</p>
    <br><p> Reach out and share what you <b><span style='color: #e31f80'>loved</span></b> most and what you would like us to add in the future!</p>
    <br><p class= "team"><b>&hearts; iX Team</b> </p>
  </div>

  <div class='button3'>
    <a href='http://ixperience.co.za/who-we-are' class='button2'>Meet the Team</a>
  </div>
  
</body>
